<h1>All Wikis   
    <% if policy(Wiki.new).create? %>
        <%= link_to "New Wiki", new_wiki_path, class: "btn btn-success" %>
    <% end %>
</h1>
<% @wiki.each do |wiki| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to wiki.title, wiki %>
            </h4>
        </div>
    </div>
<% end %>

<!--
<div class="row">
    <div class="col-md-8">
        <% @wiki.each do |wiki| %>
            <div class="media">
                <div class="media-body">
                    <% if current_user.premium? || current_user.admin? %>
                        <h4 class="media-heading">
                            <%= link_to wiki.title, wiki %>
                         </h4>
                    <% elsif wiki.private != true %>
                        <h4 class="media-heading">
                            <%= link_to wiki.title, wiki %>
                        </h4>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-4">
        <%= link_to "New Public Wiki", new_wiki_path, class: 'btn btn-success' %>
    </div>
</div>
-->
