<h1><%= @wiki.title %></h1>
<small>created this <%= time_ago_in_words(@wiki.created_at) %> </small>
<div class="row">
  <div class="col-md-8">
    <h4>
        <% if @wiki.user.premium? %>
        <% end %>
        <% if @wiki.user.admin? %>
        <% end %>
        <%= @wiki.user.email %> |
        <% if @wiki.public? %>
            Public
        <% else %>
            Private
        <% end %>
        <% if @wiki.user == current_user %> 
            - Owner
        <% end %>
    </h4>
    <hr/>
    <%= markdown(@wiki.body) %>
  </div>
  <div class="col-md-4">
    <% if policy(@wiki).update? %>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
      <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger',
        data: {confirm: 'Are you sure you want to delete this Wiki?'} %>
    <% end %>
  </div>
</div>